.main {
  height: 100vh;
  background-color: rgb(101, 165, 198);
  box-shadow: 0px 0px 10px 5px rgb(120, 120, 120);
  width: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  color: rgb(255, 254, 254);
  text-align: center;
}
